* {
	box-sizing: border-box;
	font-family: var(--font-main);
	font-weight: 500;
	margin: 0;
	padding: 0;
}

.main {
	width: 100%;
	display: flex;
	flex-direction: column;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	min-width: 320px;
}

.task-container{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:20px;
}

.user-info {
	display:flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.styled-button {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 45%;
    cursor: pointer;
}

.styled-input {
	border-radius: 10px;
	padding: 10px;
	border: 1px solid;
}

.section {
	display: flex;
	gap: 20px;
	flex-direction: column;
	padding: 20px;
	border-bottom: 1px solid;
}

.custom-h2 {
	text-align: center;
}

.submit-box {
	display:flex;
	justify-content: center;
	width: 45%;
}

.custom-textarea {
	width: 50%;
	min-width: 320px;
}

.buttons {
	display: flex;
	justify-content: space-around;
	gap: 10px;
}

.cookie-consent-box {
	display:none;
	flex-direction: column;
	gap: 10px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	border: 1px solid;
	padding: 20px;
	border-radius: 10px;
	z-index:5;
	background-color: white;
}

.blurred {
	filter: blur(5px);
	pointer-events: none;
	user-select: none;
}

@media (max-width: 468px) {
	.user-info {
		flex-direction: column;
		align-items: center;
	}
}
